*{
    margin: 0;
    padding: 0;
 
}
header{
    display: flex;
    background-color: black;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header h1{
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    padding: 4px;
}
nav ul li{
    padding: 6px;
}
nav ul li:hover{
    background-color: white;
    color: black;
}
nav{
    width: 70%;
}
.main{
    background-image: url(guitar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 74vh;
    color: white;
    display: flex;
    justify-content: center;
align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    font-size: 50px;
}
.content p{
    font-size: 20px;
text-align: center;}
button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid;
    padding: 6px;
    color: white;
    margin: 20px;
}
#space{
    height: 30vh;
}
.content h4{
    font-size: 30px;
}


    



